selenium
webdriver-manager
undetected-chromedriver
requests
beautifulsoup4
lxml
boto3
setuptools
google-cloud-firestore
google-cloud-secret-manager

# Code quality and linting tools
flake8
black
isort
pylint
mypy

# Testing tools
pytest
